* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter";
}

body {
	display: flex;
	font-weight: 200;
}

.sidebar {
	display: flex;
	position: fixed;
	width: 25vw;
	height: 100vh;
	overflow: hidden;
}

.sidebar-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 5.5vw;
	border-right: 1px solid #eaecf0;
	padding: 24px 0 24px 0;
}

.sidebar-left-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-left-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-left-top a img,
.sidebar-left-bottom a img {
	padding: 6px;
	vertical-align: middle;
}

.sidebar-left-top a.logo img {
	padding-top: 0;
}

button,
select,
input[type="datetime-local"],
span.format-icons img {
	cursor: pointer;
}

span.profile-pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	margin: 12px 0 0 0;
	background: url(./images/user_profile.png);
	background-size: contain;
	border-radius: 200px;
}


.sidebar-right {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 28px 16px 24px 16px;
	border-right: 1px solid #eaecf0;
	background-color: #fff;
}

.sidebar-right-top {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	font-weight: 500;
	font-size: 1rem;
	line-height: 24px;
	color: #101828;
	width: 100%;
}

.sidebar-right-top .sidebar-right_options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	width: 100%;
}

.sidebar-right-top .sidebar-right_options a {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 12px;
	gap: 8px;
	width: 100%;
	height: 40px;
	border-radius: 6px;
	text-decoration: none;
	font-weight: 600;
	font-size: 1rem;
	line-height: 24px;
	color: #344054;
}

.mobile-header {
	width: 100vw;
	height: 4rem;
	background: #ffffff;
	border-bottom: 1px solid #eaecf0;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	color: #101828;
	position: absolute;
	padding: 12px 16px 12px 16px;
	font-size: 1.25rem;
	font-weight: 600;
	display: none;
}

.mobile-header span {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 14px;
}

.mobile-header span a img {
	vertical-align: middle;
}


@media screen and (min-width: 280px) and (max-width: 480px) {
	body {
		width: 100vw;
		overflow-x: hidden;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.sidebar-left {
		width: 10vw;
	}
	.content {
		width: 75vw !important;
		margin-left: 25vw !important;
	}
	.sidebar-right {
		display: flex !important;
	}
}


@media screen and (min-width: 481px) and (max-width: 768px) {
	.sidebar-left {
		width: 10vw;
	}
	.content {
		width: 90vw !important;
		margin-left: 10vw !important;
	}
	.sidebar-right {
		display: none !important;
	}
}


@media screen and (min-width: 280px) and (max-width: 480px) {
	.sidebar {
		display: none;
	}
	.mobile-header {
		display: flex;
	}
	div.content {
		margin-left: 0;
		width: 100vw;
	}
}

.content {
	width: 75vw;
	height: 100%;
	margin-left: 25vw;
}


.header {
	display: flex;
	flex-direction: column;
}

.background_img {
	height: 25vh;
}


.details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 24px 32px;
	gap: 24px;
	height: 12.5vh;
}

.user_information {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.profile-pic-container {
	position: relative;
	margin-top: -20%;
}

.profile_pic_img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background: url(./images/user_profile.png);
	background-size: contain;
	border: 4px solid #ffffff;
	box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
		0px 4px 6px -2px rgba(16, 24, 40, 0.03);
	border-radius: 200px;
	width: 160px;
	height: 160px;
}

.tick {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 120px;
	bottom: 0;
	left: 115px;
	right: 0;
}

.user_information span.name {
	font-weight: 600;
	font-size: 1.875rem;
	line-height: 38px;
	color: #101828;
}

.user_information span.email {
	font-weight: 400;
	font-size: 1rem;
	line-height: 24px;
	color: #475467;
}

.details span.buttons {
	display: flex;
	gap: 12px;
	align-items: center;
}


.personal-info {
	display: flex;
	justify-content: space-between;
	padding: 0px 32px 0px 32px;
	margin: 48px 0px 20px 0;
}

p.title {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 20px;
	color: #344054;
}


p.helping-info {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 20px;
	color: #475467;
}


div.update--container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 70%;
	border: 1px solid #eaecf0;
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
		0px 1px 2px rgba(16, 24, 40, 0.06);
	border-radius: 12px;
	overflow: hidden;
}

div.update-info-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 24px;
	border-bottom: 1px solid #eaecf0;
}

div.save-change-button {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 24px;
	gap: 16px;
}


hr.line {
	border: 1px solid #eaecf0;
	margin: 0px 32px 0px 32px;
}

div.input-name {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

div.input {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 6px;
	width: 48%;
}

div.email {
	width: 100% !important;
}

span.profile-pic-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	background: url(./images/user_profile.png);
	background-size: contain;
	border-radius: 200px;
}

label.upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	padding: 16px 24px;
	width: 86%;
	height: auto;
	border: 1px solid #d0d5dd;
	border-radius: 12px;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 20px;
	color: #475467;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

label.upload:hover {
	border: 2px solid #7f56d9;
}

.upload-purple {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 20px;
	color: #6941c6;
}

.upload-small {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 18px;
	color: #475467;
}

.profile-info {
	display: flex;
	justify-content: space-between;
	padding: 0px 32px 0px 32px;
	margin: 20px 0px 48px 0;
}

.toggle {
	display: flex;
	width: 100%;
	gap: 8px;
}

.available {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 20px;
	color: #344054;
}

.job-speciality {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 20px;
	color: #475467;
}

div.username {
	width: 100% !important;
}

.input-combined {
	display: flex;
	justify-content: flex-start;
}
span.input-label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 12px 10px 14px;
	height: 44px;
	border-radius: 8px 0px 0px 8px;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	font-weight: 400;
	font-size: 1rem;
	line-height: 24px;
	color: #475467;
}

input.special {
	border-radius: 0px 8px 8px 0px !important;
	border-left: none;
	width: 100% !important;
}

span.char-count {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 20px;
	color: #475467;
}

div.format {
	width: 100% !important;
	display: flex;
	align-items: center;
	gap: 12px;
}

span.format-icons {
	display: flex;
	align-items: center;
	gap: 4px;
}

div.country,
div.timezone {
	width: 100% !important;
}
div.country select,
div.timezone select {
	width: 100% !important;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
	.content {
		width: 100vw;
	}

	img.background_img {
		width: 100vw;
	}

	.details {
		flex-direction: column;
		padding: 0px 16px;
	}
	.user_information {
		flex-direction: column;
	}
	.user_information span.name {
		font-size: 1.5rem;
	}
	.personal-info {
		margin-top: 35%;
		padding: 0px 16px;
		flex-direction: column;
	}
	.profile_pic_img {
		width: 120px;
		height: 120px;
	}
	.profile-pic-container {
		margin-top: -35%;
	}
	span.tick {
		top: 90px;
		left: 90px;
	}
	span.tick img {
		width: 24px;
		height: 24px;
	}
	.update--container {
		width: 100% !important;
		margin-top: 5%;
	}
	.input-name {
		flex-direction: column;
		gap: 24px;
	}
	div.input {
		width: 100%;
	}
	label.upload {
		width: 100%;
	}
	hr {
		display: none;
	}
	.profile-info {
		padding: 0px 16px;
		flex-direction: column;
	}
	div.format {
		flex-direction: column;
		align-items: flex-start;
	}
}

button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	gap: 8px;
	font-family: "Inter";
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 20px;
	height: 40px;
	transition: 0.5s;
}

button.share-btn {
	background: #ffffff;
	border: 1px solid #d0d5dd;
	color: #344054;
}

button.view-btn {
	background: #7f56d9;
	border: 1px solid #7f56d9;
	color: #ffffff;
}

button.view-btn:hover {
	background: #6941c6;
}

label {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 20px;
	color: #344054;
}

input {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 14px;
	height: 44px;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-weight: 400;
	font-size: 1rem;
	line-height: 24px;
	color: #101828;
	outline: none;
}

input:hover,
input:active {
	border: 1px solid #d6bbfb;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
}

input[type="email"] {
	background: url(./images/Icon_mail.svg) no-repeat scroll 7px 7px;
	background-size: 2.75%;
	background-position: 10px center;
	padding-left: 5%;
}

.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f2f4f7;
	transition: 0.2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	transition: 0.2s;
}

input:checked + .slider {
	background: #7f56d9;
}

input:focus + .slider {
	box-shadow: 0 0 1px #7f56d9;
}

input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

.slider.round {
	border-radius: 12px;
}

.slider.round:before {
	border-radius: 50%;
}

textarea {
	font-family: "Inter";
	font-weight: 400;
	font-size: 1rem;
	line-height: 24px;
	color: #101828;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 12px 14px;
	gap: 8px;
	width: 100% !important;
	height: 128px;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	outline: none;
}

textarea:hover {
	border: 1px solid #d6bbfb;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
}

select {
	width: 25%;
	height: 44px;
	padding: 10px 14px;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-weight: 500;
	font-size: 1rem;
	line-height: 24px;
	color: #101828;
	outline: none;
}

select:hover {
	border: 1px solid #d6bbfb;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
}

@media screen and (min-width: 280px) and (max-width: 480px){
	input[type="email"]{
		background-size: auto;
		padding-left: 12%;
	}
	select{
		width: 100% !important;
	}
}

span.count {
	padding: 2px 8px;
	background: #f2f4f7;
	mix-blend-mode: multiply;
	border-radius: 16px;
	margin-left: 50%;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 18px;
	text-align: center;
}
.sidebar-right-bottom {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.sidebar-right-bottom span {
	display: flex;
	flex-direction: column;
}

.sidebar-right-bottom span.name {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 20px;
	color: #101828;
}

.sidebar-right-bottom span.email {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 20px;
	color: #475467;
}

span.logout {
	cursor: pointer;
}